@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('fonts/DejaVuSansMono-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

/* Mobile-first base styles */
body {
    background-color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    background-color: black;
    border: 3px solid lightgray;
    font-family: 'DejaVuSansMono', monospace;
    font-size: 12px;
    color: lightgray;
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page__body {
    padding: 0 10px;
    flex: 1;
}

img {
    width: 100%;
}

.menu {
    /* background-color: #f8f8f8; */
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 20px;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu__item {
    margin: 0 10px;
}

.menu__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
}

.menu__link:hover {
    background-color: black;
    color: lightgray;
}

.footer {
    background-color: lightgray;
    color: #333;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

.man-page {
    font-family: 'DejaVuSansMono', monospace;
    color: lightgray;
    background-color: black;
}

.man-page__section {
    margin-bottom: 20px;
}

.man-page__heading {
    font-weight: bold;
    font-size: 1.2em;
    color: lightgray;
    display: block;
    margin-bottom: 5px;
}

.man-page__text {
    margin: 0;
    color: lightgray;
    padding-left: 60px;
    padding-bottom: 18px;
}

.man-page__text_indent {
    padding-left: 120px;
}

.man-page__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.man-page__title-center {
    text-align: center;
}

.man-page__title-right {
    text-align: right;
}

.man-page_bold {
    font-weight: bold;
}

a {
    color: whitesmoke;
}

/* Tablet and larger */
@media (min-width: 600px) {

}

/* Desktop and larger */
@media (min-width: 1024px) {
    body {
        padding: 0 20%;
    }

    .page {
        border: 3px solid lightgray;
        font-family: 'DejaVuSansMono', monospace;
        font-size: 14px;
        color: lightgray;
    }

    .page__body {
        padding: 0 30px;
    }

    img {
        width: 60%;
        margin: 0 20%;
    }
}