{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div># ls -l ./blogs | awk '{print $6, $7, $8, $9}'</div>
<div id="blogs-list">
    <br>
    <div class="blog-entry">
        <span class="blog-entry__date">Jan 01 2024</span>
        <span class="blog-entry__title">Blog Post Title 1</span>
    </div>
    <div class="blog-entry">
        <span class="blog-entry__date">Feb 14 2024</span>
        <span class="blog-entry__title">Blog Post Title 2</span>
    </div>
    <div class="blog-entry">
        <span class="blog-entry__date">Mar 03 2024</span>
        <span class="blog-entry__title">Blog Post Title 3</span>
    </div>
    <!-- Add more blog entries as needed -->
</div>
<div># <span class="blink"></span></div>
{% endblock %}
