<div class="menu">
    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__item"><a href="{{ url_for('index') }}" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="{{ url_for('blogs') }}" class="menu__link">Blogs</a></li>
            <li class="menu__item"><a href="{{ url_for('projects') }}" class="menu__link">Projects</a></li>
            <li class="menu__item"><a href="{{ url_for('contact') }}" class="menu__link">Contact</a></li>
        </ul>
    </nav>
</div>
